# API Environment
NODE_ENV=development
PORT=3000

# ----------------------------------------------------
# Database Configuration
# ----------------------------------------------------

# Estrategia de Conexión: 'env' (default) o 'aws-secrets'
DB_CONNECTION_STRATEGY=env

# [Strategy: env] Credenciales directas (Requeridas si DB_CONNECTION_STRATEGY=env)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=secret
DB_DATABASE=nestjs_ddd

# [Strategy: aws-secrets] Integración con AWS Secrets Manager (Requeridas si DB_CONNECTION_STRATEGY=aws-secrets)
DB_SECRET_ARN=arn:aws:secretsmanager:us-east-1:123456789012:secret:my-db-secret
AWS_REGION=us-east-1

# Sincronización automática de TypeORM (Pelígroso en prod, true solo en dev local)
DB_SYNCHRONIZE=true

# ----------------------------------------------------
# SSL Settings (Optional)
# ----------------------------------------------------
DB_USE_SSL=false
# DB_SSL_CERT="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----\n"
